#root {
  background: linear-gradient(90deg, #FFE5B4, #BEC3EA);
  height: 100vh;
  width: 100vw;

  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  border: solid rebeccapurple;

}

.test{
  border: red solid;
}

#chatBox{
  background: linear-gradient(90deg, #FFE5B4, #BEC3EA);
  overflow: auto;
  height: 80vh;
}
#inputBox{
  text-align: center;
  width: 100%;
}

.mainGrid{
  border: yellow solid;
  max-width: 95vw;
  height: 95vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

#nav{
  border: blue solid;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
